<div class="container">
  <h1>Overall Zod Leaderboard</h1>
<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Halwa Jay">
  </mat-form-field>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      
        <!-- Rank Column -->
      <ng-container matColumnDef="Rank">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Rank </th>
        <td mat-cell *matCellDef="let row"> {{row.Rank}} </td>
      </ng-container>
      
      <!-- HackerrankHandle Column -->
      <ng-container matColumnDef="HackerrankHandle">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> HackerrankHandle </th>
        <td mat-cell *matCellDef="let row"> {{row.HackerrankHandle}} </td>
      </ng-container>
  
      <!-- Rating Column -->
      <ng-container matColumnDef="Rating">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Rating </th>
        <td mat-cell *matCellDef="let row"> {{row.Rating}} </td>
      </ng-container>
  
      <!-- TimesPlayed Column -->
      <ng-container matColumnDef="TimesPlayed">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> TimesPlayed </th>
        <td mat-cell *matCellDef="let row"> {{row.TimesPlayed}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]"></mat-paginator>
  </div>
  <div *ngIf="isLoading" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
  </div>
</div>
  
  <!-- Copyright 2019 Google LLC. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->